<div class="text-center">
  <a href="/auth/github">
    <div class="sign-in-via-github-container">
      <div class="smaller-container">
        <div class="sign-in-text"><i class="fa fa-github fa-5x github-logo"></i></div>
        <div class="sign-in-text">Sign in via GitHub</div>
      </div>
    </div>
  </a>
  <p>Authentication through the Flatiron School Students GitHub organization required.</p>
</div>