
<div class="signup"> 
<a href="/auth/github" class="btn btn-lg btn-block btn-social btn-github">Sign in with GitHub
  <i class="fa fa-github"></i>
</a>
<small>Authentication through the Flatiron School Students GitHub organization required. </small>
</div>

 