<h4>Search by</h4>
<div class="switch-container">
  <input id="search-switch" type="checkbox" checked="checked"/>
</div>

<div class="filter">
  <%= form_tag user_books_path, :remote => true do %>
    <%= select_tag :book_ids, options_from_collection_for_select(Book.all, "id", "title"),
      { include_blank: true,  class: 'chosen-select', multiple: true, :'data-placeholder'=>"Books", :id => "users_by_book" }
    %>
    <%= select_tag :user_ids, options_from_collection_for_select(User.all, "id", "nickname"),
      { include_blank: true,  class: 'chosen-select', multiple: true, :'data-placeholder'=>"Students", :id => "books_by_user"}
    %>
    <%= hidden_field_tag :sort_by, "book" %>
  <% end %>
</div>

<div class="student-list">
  <p class="placeholder">Pending search query</p>
</div>

