<%= form_for @type do |f| %>
  <%= f.label :file %>
  <%= f.file_field :file, multiple: true, name: "type[file]" %><br/>
  <div class="file-container"></div> 
  <%= f.submit "Upload", :class => "btn btn-primary" %>
<% end %>