<!-- <div class="row">
  <div class="col-md-8 col-md-offset-2">


</div>
</div> -->


</div>
  <%= render "form" %>
<hr />
  <div class="book-list">
    <%= render @incomplete_types %>
  </div>
</div>
