// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.switch-container {
  padding: 10px 0px 10px;
}

.grey-background {
  background-color: #428BCA;
  color: white;
  border-radius: 5px;
}

#books_by_user {
  display: inline-block;
}

#users_by_book {
  display: none;
}

.upload-and-org-section {
  background-color: #f8f8f8;
  width: 100%;
  padding: 5px 25px 25px 25px;
}

.upload-section, .org-section {
  float: left;
  display: inline-block;
}

#admin-wrapper {

  h4.heading {
    float: left;
    margin-right: 10px;
  }

  .filter {
    width: 200px;
  }

  div.list-group-item a {
    color: black;
    background: #FFF;
    border-radius: 5px;
  }
  .list-group-item:hover {
    .btn {
      opacity: 1;
    }
  }

  .remove {
    float: right;
    i:hover {
    color: red;
    }
    .btn {
      opacity: 0;
      -webkit-transition: opacity .3s;
    }
  }

  .signup {
    width: 250px;
    margin: auto;
    margin-top: 200px;

    .btn:hover {
      color: white !important;
    }

    small {
      margin-top: 10px;
      display: block !important;
      width: 250px;
      text-align: center;
    }
  }


  .student-list {

    p {
    color: #666;
    margin: 10px;
    }

    p.placeholder {
    color: #ccc;
    font-style: italic;
    margin: 20px;

    }
  }

  .left-header {
    float: left;
  }

  .toggle {
    background: #4a4a4a;
    border-radius: 50%;
    height: 22px;
    left: 0;
    position: absolute;
    top: 3px;
    -webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
    width: 22px;
    z-index: 1;
  }
}
